<%- include("partials/header") -%>

<h1 class="title-post">Create your post here</h1>
<h3>Add a New Post</h3>
<form class="post-form" action="/" method="POST">
  <textarea
    id="postTextarea"
    name="newPost"
    placeholder="Write your post here..."
    required
  ></textarea>
  <br />
  <div class="button-wrapper">
    <button type="submit">Add Post</button>
  </div>
</form>

<%- include("partials/footer") -%>
